/*
  Last modification :
  11/11/20 - 17:52
*/

body {
    font-size: 17px !important;
    font-weight: normal !important;
    color: #766A62 !important;
    font-family: monospace !important;
    /* text-align: left !important; */
    /* line-height: 2px !important; */
}
.modal_ca {
  /* display: none !important; */
  position: fixed !important;
  margin: 33px !important;
  right: 0 !important;
  top: 0 !important;
  width: 350px !important;
  height: auto !important;
  max-height: 350px !important;
  overflow: auto !important;
  background-color: #DCDCDC !important;
  z-index: 999999999999999 !important;
  box-shadow: 0 0 20px !important;
  border-radius: 5px !important;
}

/* Modal Content */
.modal-content {
  position: relative !important;
  background-color: #DCDCDC !important;
  outline: 0 !important;
  padding: 13px !important;
  border-radius: 0 !important;
  font-family: 'Arial', sans-serif !important;
  text-align: left !important;
}

#modal_content_p {
  margin: 35px !important;
  font-size: 17px !important;
  font-family: 'Roboto', sans-serif !important;
}

#navbar_ca {
  background: #2c3f51 !important;
  position: fixed !important;
  z-index: 9999999999 !important;
  width: 350px !important;
  text-align: left !important;
}

#tagcologo {
  margin: 1% !important;
  top: 0px !important;
  left: 0px !important;
  width: 54% !important;
  overflow: overlay !important;
  z-index: 999999999999999 !important;
}

#button_close {
  width: 9% !important;
  margin: -3% !important;
  float: right !important;
  z-index: 9999999999999 !important;
  padding-right: 0% !important;
  padding-bottom: 0% !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  cursor: pointer !important;
}

/* CONTENT */
#tms_img {
  display: block;
  margin: 50px 0 15px 0 !important;
  width: 31% !important;
  overflow: overlay !important;
  z-index: 999999999999999 !important;
}

#h1_site_id {
  color: black !important;
  font-size: 15px !important;
  margin: 7px !important;
  font-weight: 600 !important;
}

#hr_site_id {
  margin: 10px !important;
  border: 0 !important;
  border-top: 1px dashed grey !important;
}

#trust_img {
  /* margin: 1% !important; */
  display: block;
  /* margin-left: auto !important; */
  /* margin-right: auto !important; */
  width: 35% !important;
  z-index: 999999999999999 !important;
}

#h2_container_id {
  margin: -1px !important;
  text-align: left !important;
}

#h2_container_id_a {
  /* margin-top: auto; */
  color: grey !important;
  font-size: 13px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

#h2_container_id_a:hover {
  color: black !important;
  text-decoration: underline !important;
}

#h2_privacy_div {
  margin: 0 !important;
  text-align: left !important;
}

#h2_privacy_div_a {
  color: grey !important;
  font-size: 13px !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

#h2_no_privacy_div_a{

}

#h2_privacy_div_a:hover {
  color: black !important;
  text-decoration: underline !important;
}

#tagslistitem {
  color: #72A98F !important;
  font-size: 11px !important;
  text-decoration: none !important;
  cursor: pointer !important;
  text-align: left !important;
}

#notagslistitem{
  margin: 6px !important;
  color: #72A98F !important;
  font-size: 11px !important;
  text-decoration: none !important;
  text-align: left !important;
}

#tagslistitem:hover {
  text-decoration: underline !important;
  color: #3D5A6C !important;
}

#br_tags {
  line-height: 2p !important;
}

#h2_container_id:after {
  content: none;
}
