/*
  Last modification :
  07/11/20 - 23:42
*/
.modal_ca {
  /* display: none !important; */
  position: absolute !important;
  margin: 17px !important;
  right: 0 !important;
  top: 0 !important;
  width: 40% !important;
  height: 300px !important;
  overflow: auto !important;
  background-color: rgb(0, 0, 0) !important;
  border-radius: 20px !important;
  z-index: 999999999999999 !important;
}

/* Modal Content */
.modal-content {
  position: relative !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column;
  /* pointer-events: auto; */
  background-color: #fff !important;
  /* background-clip: padding-box; */
  border: 1px solid rgba(0, 0, 0, .2) !important;
  /* border-radius: .3rem; */
  outline: 0 !important;
  padding: 13px !important;
}

/* The Close Button */
.close {
  color: #aaaaaa !important;
  float: right !important;
  font-size: 28px !important;
  font-weight: bold !important;
}

.close:hover,
.close:focus {
  color: #000 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

#modal_content {
  font-size: 25px !important;
}

#modal_content_p {
  margin: 35px !important;
  font-size: 17px !important;
}

#navbar_ca{
  height: 30px !important;
}

#tagcologo {
  /* border: 1px solid #ddd; */
  /* background-color: #fff; */
  /* padding: 5px; */
  width: 50px !important;
  z-index: 999999999999999 !important;
  /* display: block; */
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
}

#button_close {
  position: fixed !important;
  display: block !important;
  position: fixed !important;
  margin: -5px !important;
  /* right: 30px !important; */
  top: 40px !important;
  border-radius: 100px !important;
  height: 15px !important;
  overflow: auto !important;
  z-index: 9999999999999999 !important;
}
