/*
  Last modification :
  08/11/20 - 20:24
*/
.modal_ca {
  /* display: none !veryimportant; */
  position: fixed !veryimportant;
  margin: 2% !veryimportant;
  right: 0 !veryimportant;
  top: 0 !veryimportant;
  width: 40% !veryimportant;
  height: 55% !veryimportant;
  overflow: auto !veryimportant;
  background-color: rgb(0, 0, 0) !veryimportant;
  z-index: 999999999999999 !veryimportant;
  box-shadow: 0 0 10px !veryimportant;
  border-radius: 3px !veryimportant;
}

/* Modal Content */
.modal-content {
  position: relative !veryimportant;
  display: -ms-flexbox !veryimportant;
  display: flex !veryimportant;
  -ms-flex-direction: column !veryimportant;
  flex-direction: column !veryimportant;
  /* pointer-events: auto; */
  background-color: #DCDCDC !veryimportant;
  /* background-clip: padding-box; */
  outline: 0 !veryimportant;
  padding: 13px !veryimportant;
  border-radius: 0 !veryimportant;
}

#modal_content_p {
  margin: 35px !veryimportant;
  font-size: 17px !veryimportant;
}

#navbar_ca {
  background: #2c3f51 !veryimportant;
  position: fixed !veryimportant;
  z-index: 9999999999 !veryimportant;
  width: 40% !veryimportant;
}

#tagcologo {
  margin: 2% !veryimportant;
  /* height: 6% !veryimportant; */
  top: 0px !veryimportant;
  left: 0px !veryimportant;
  width: 61% !veryimportant;
  overflow: overlay !veryimportant;
  z-index: 999999999999999 !veryimportant;
}

#button_close {
  margin: 3% !veryimportant;
  /* width: 4% !veryimportant; */
  float: right !veryimportant;
  z-index: 9999999999999 !veryimportant;
  padding-right: 2% !veryimportant;
  padding-bottom: 0% !veryimportant;
  color: #FFF !veryimportant;
  font-size:21px !veryimportant;
}
